<!-- start of video-section -->
<div class="">
  <div class="row no-gutters">
    <div class="col-12 col-lg-6">
      <div class="p-5 p-lg-10">
        
        <h3 class="">We're A Relationship-Building Company</h3>
        <p>It's not about closing a sale, but starting a relationship. We value your trust in us and work hard to keep it and build on it. Your happiness, health, and betterment is extremely important to us and we love to show you through every service we provide.</p>
        
        <h3 class="">A Happiness-Maximizing Company</h3>
        <p>Your satisfaction is so important to us that we guarantee it. We don't want to impress you simply on the first visit, but every visit after that.</p>

      </div>
    </div>
    <div class="col-12 col-lg-6">
      <%= image_tag url_for('bennett-car.jpg'), class:"img-responsive" %>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="col col-12 col-lg-6">
      <%= image_tag url_for('cleaning-lady.jpg'), class:"img-responsive" %>
    </div>
    <div class="col col-12 col-lg-6">
      <div class="p-5 p-lg-10">
        <h3 class="">An Innovation-Leading Company</h3>
        <p>Year after year service companies don't change, innovate, or provide more value. We believe we owe our clients a dedication to innovating on our products, quality, communication, ease of use, and more. Making your life easier is part of our core belief and mission.</p>
        <h3 class="">A Family Company</h3>
        <p>Our company is family-owend and for over 15 Years our family has served other families in the home services industry helping them live better lives. Our family grows consistantly and includes our team members. We treat them with respect, love, and care. Our family also includes you, our client. As a family we can help eachother live a better, healthier, and happier lives.</p>
      </div>
    </div>
  </div>
</div><!-- end of video-section -->







