<section class=" text-center pad-bottom-md">
	<div class="container">
	  <%= image_tag url_for('charity-water.png'), class:"img-responsive" %>
	  <a href="/giveback" class="btn btn-lg btn-bennett">Learn More About How We Help</a>
	</div>
</section><!-- end of service-section -->		