<section class="bg-bennett text-center pad-top-md pad-bottom-md">
	<div class="container">
	  <h3 class="heading-white">Here At Your Service</h3>
	  <p class="text-white">Don't want to book online? That's okay. Our customer support team is ready to help you with any questions you might have. Click the button below to easily contact our team.</p>
	  <a href="tel:8573018618" class="btn btn-lg btn-white">Call Bennett Home Services</a>
	</div>
</section><!-- end of service-section -->		