    <!-- header of the page start here -->
    <header id="header" class="bg-img-full pad-top-sm pad-bottom-sm">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-9">
            <!-- Page logo -->
            <div class="logo"><a href="#"> <%= image_tag url_for('logo-white.png'), class:"img-responsive" %> </a></div>
            <div class="pad-top-lg hidden-xs"></div>
            <div class="pad-bottom-sm"></div>
            <!-- start of caption -->
            <div class="caption">
              <h1 class="heading shadow-text">We're more than a home services company</h1>
              <p class="shadow-text text-white">Our mission at Bennett Home Services is to help people live better, healthier, and happier lives at HOME and beyond.</p>
                <a href="https://bennett.joinmajor.com" class="btn btn-lg btn-bennett btn-wide">Book A Service</a>
            </div><!-- end of caption -->
            <div class="pad-top-lg hidden-xs"></div>
            <div class="pad-bottom-sm"></div>
          </div>
        </div>
      </div>
      <div class="overlay"></div>
      <a href="#" class="btn-scroll smooth" data-scroll-nav="0">Goto main</a>
    </header><!-- header of the page ends here -->
    <!-- header of the page end here -->