
<div class="container p-lg-10">

        <div class="row text-center p-lg-5">
          <div class="col-12">
            <h1 class="mb-5 heading">The ways we help you live a better life</h1>
            <p class="mt-2"><i>All of our services are backed by our Happiness Guarantee. We promise to provide you with a high quality service and experience. If you're unhappy, then we're unhappy and we'll do what is necessary to make it right.</i></p>
          </div>
        </div>

        <div class="row space-top-1">
          <!-- Pricing Carousel -->

            <div class="col mb-7">
              <!-- Pricing -->
              <div class="card p-3 transition-3d-hover">
                <!-- Header -->
                  <header class="card-header text-center p-2">
                    <span class="d-block">
                      <%= image_tag url_for('house-icon.png'), class:"price-icon" %>
                      <h3>Home Cleaning</h3>
                    </span>
                  </header>
                <!-- End Header -->

                <!-- Content -->
                <div class="card-body p-5">
                  <ul class="list-group list-group-flush list-group-borderless mb-4">
                    <li class="list-group-item">Flexible Scheduling</li>
                    <li class="list-group-item">Personalized Service</li>
                    <li class="list-group-item">Online Payments</li>
                    <li class="list-group-item">22 Step Cleaning Process</li>
                  </ul>

                  <a href="https://bennett.joinmajor.com" class="btn btn-sm btn-block btn-bennett transition-3d-hover">Book Online</a>
                </div>
                <!-- End Content -->
              </div>
              <!-- End Pricing -->
            </div>

            <div class="col mb-7">
              <!-- Pricing -->
              <div class="card p-3 transition-3d-hover">
                <!-- Header -->
                  <header class="card-header text-center p-2">
                    <span class="d-block">
                      <%= image_tag url_for('building-icon.png'), class:"price-icon" %>
                      <h3>Office Cleaning</h3>
                    </span>
                  </header>
                <!-- End Header -->

                <!-- Content -->
                <div class="card-body p-5">
                  <ul class="list-group list-group-flush list-group-borderless mb-4">
                    <li class="list-group-item">Recurring COVID19 Cleanings</li>
                    <li class="list-group-item">Janitorial Services</li>
                    <li class="list-group-item">Sanitization Services</li>
                    <li class="list-group-item">Online Payments</li>
                  </ul>

                  <a href="https://bennett.joinmajor.com" class="btn btn-sm btn-block btn-bennett transition-3d-hover">Book Online</a>
                </div>
                <!-- End Content -->
              </div>
              <!-- End Pricing -->
            </div>

            <div class="col mb-7">
              <!-- Pricing -->
              <div class="card p-3 transition-3d-hover">
                <!-- Header -->
                  <header class="card-header text-center p-2">
                    <span class="d-block">
                      <%= image_tag url_for('window-icon.png'), class:"price-icon" %>
                      <h3>Window Cleaning</h3>
                    </span>
                  </header>
                <!-- End Header -->

                <!-- Content -->
                <div class="card-body p-5">
                  <ul class="list-group list-group-flush list-group-borderless mb-4">
                    <li class="list-group-item">Residential & Commercial</li>
                    <li class="list-group-item">Recurring visits</li>
                    <li class="list-group-item">Flexible Scheduling</li>
                    <li class="list-group-item">Interior/Exterior</li>
                  </ul>

                  <a href="https://bennett.joinmajor.com" class="btn btn-sm btn-block btn-bennett transition-3d-hover">Book Online</a>
                </div>
                <!-- End Content -->
              </div>
              <!-- End Pricing -->
            </div>

          <!-- End Pricing Carousel -->
        </div>
        <!-- End Pricing Section -->
      </div>