<section class="service-section text-center p-6 p-lg-5">
	<div class="container">
		<div class="row">
		  <div class="col col-lg-4"><%= image_tag url_for('bbblogo.png'), class:"img-responsive sponsor-logo" %></div>
		  <div class="col col-lg-4"><%= image_tag url_for('googlelocal.png'), class:"img-responsive sponsor-logo" %></div>
		  <div class="col col-lg-4"><%= image_tag url_for('thumblogo.png'), class:"img-responsive sponsor-logo" %></div>
		</div>
	</div>
</section><!-- end of service-section -->		