<!-- header of the page start here -->
<header id="header" class="bg-img-full-giving pad-top-sm pad-bottom-sm">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-9">
        <!-- Page logo -->
        <div class="logo"><a href="https://www.bennettma.com"> <%= image_tag url_for('logo-white.png'), class:"img-responsive" %> </a></div>
        <div class="pad-top-lg hidden-xs"></div>
        <div class="pad-bottom-sm"></div>
        <!-- start of caption -->
        <div class="caption">
          <h1 class="heading shadow-text">Helping people at home and beyond</h1>
          <p class="shadow-text text-white">While we help you live a better life, you're helping someone else live a better life.</p>
            <a href="https://bennett-home-services-inc.joinmajor.com" class="btn btn-lg btn-bennett btn-wide">Book A Service</a>
        </div><!-- end of caption -->
        <div class="pad-top-lg hidden-xs"></div>
        <div class="pad-bottom-sm"></div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
  <a href="#" class="btn-scroll smooth" data-scroll-nav="0">Goto main</a>
</header><!-- header of the page ends here -->
<!-- header of the page end here -->

<div class="container text-center">
	<%= image_tag url_for('charity-water.png'), class:"img-responsive" %>
	<h2>How We Help</h2>
	<p class="p-sm-2 p-lg-5">Our company is a mission based business. We're about helping people live a better, healthier, and happier life. So to align ourselves with our core mission statement we give a percentage of each cleaning to Charity:Water. This amazing organization helps people in developing nations gain access to clean water. There's nothing more satisfying to know that while we're helping you live better with our services, you're also helping someone else live better. Our team would like to thank you in advance for your contribution to making the world a better place. Together we can change the world for the better, one cleaning visit at a time.</p>
</div>

<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <p>Copyright © Bennett Home Services Inc. 2020, All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
