

.shadow-text{
	text-shadow: 4px 4px 9px #000000;
}

.price-icon{
	max-width: 100px;
	padding: 15px;
}

.pricing-table{
	border-radius: 20px;
}


/*======== HEADER =======*/

.bg-img-full {
	background-image: url("https://bennett-app-public.s3.amazonaws.com/big-house.jpg");
}

.heading{
	font-size: 90px;
}

.btn-bennett{
	padding: 15px 20px;
	border: none;
}

.btn-success{
	background-color: #60e617;
}

.btn-wide{
	width: 100%;
	max-width: 500px;
}



.bg-bennett{
	background-color: #23CDFD;
}