

.shadow-text{
	text-shadow: 4px 4px 9px #000000;
}


/*======== HEADER =======*/

.bg-img-full {
	background-image: url("images/big-house.jpg");
}

.heading{
	font-size: 90px;
}

.btn-bennett{
	padding: 15px 20px;
	border: none;
}

.btn-success{
	background-color: #60e617;
}

.btn-wide{
	width: 300px;
}
