

body{
	font-family: poppins, arial;
}

.shadow-text{
	text-shadow: 4px 4px 9px #000000;
}



/*======== HEADER =======*/

.bg-img-full {
	background-image: url("https://bennett-app-public.s3.amazonaws.com/family-time.png");
}

.bg-img-full-giving{
	background-image: url("https://bennett-app-public.s3.amazonaws.com/helping-hands.png");
}

.heading{
	font-size: 40px;
}

.heading-white{
	font-size: 40px;
	color: #fff;
}

.btn-bennett{
	padding: 15px 20px;
	border: none;
	border-radius: 2rem;
	background-color: #23CDFD;
	color: #fff;
}

.btn-success{
	background-color: #60e617;
}

.btn-wide{
	width: 100%;
	max-width: 500px;
}

.bg-bennett{
	background-color: #23CDFD;
}

/*======== PRICING =======*/

.price-icon{
	max-width: 100px;
	padding: 15px;
}

.pricing-table{
	border-radius: 20px;
}

/*======== SPONSORS =======*/

.sponsor-logo{
	max-width: 250px;
}